

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--ligthGray);
  
}


.main-content { 
  flex: 1; /* Hace que el contenido principal ocupe el resto del espacio */
  /* padding: 20px; */
 /* background-color: #fff; /* Fondo del contenido */
 /* overflow-y: auto; /* Añade scroll si el contenido es demasiado largo */
    width: 100%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: var(--ligthGray);
    margin-left: 230px;
    margin-top: 60px; 
    transition: margin-left 1s ease; 
}


@media (max-width: 1280px) {
  .main-content { 
  
    /* background-color: red; */
    margin-left: 0px;

    transition:none
}

}