.info-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: "0 4px 8px rgba(0; 0; 0; 0.1)"; */
  /* margin: 10px; */
  margin-bottom: 20px;
  /* margin-right: 10px; */
  width: 100%;
  min-height: fit-content;
  border: 1px solid #e7e7e7;
  
  /* font-size: 16px; */
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* background-color: var(--ligthGreen); */
}
.textContent {
  flex: 1;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #d1f5e4;
  border-radius: 50%;
}
