.search-filter {
  display: flex;
  align-items: center;
  width: 100%;
  /* border-radius: 15px; */
  padding: 1px;
  border: 1px solid #ced4da4e; /* Color de borde gris claro */
  border-radius: 0.25rem; /* Borde redondeado con radio de 0.25rem */
  /* border: 1px solid rgba(255, 255, 255, 0.056); */
  /* background-color: rgba(228, 228, 228, 0.567); */
  /* background-color: black; */
}

.dropdown-menu-container {
  width: 7%;
  height: 100%;
  background-color: blue;
}
.input-menu-containet {
  width: 100%;
}

.search-filter input {
  background-color: var(--ligthGray);
  padding: 16px 8px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-left: 1px solid rgb(235, 235, 235);
  /* border-left-radius: 10px; */
  /* background-color: blueviolet; */
  /* border: 1px solid #cccccc2a; */
  /* border-top-right-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
}
.search-filter input:focus {
  outline: none;
}
