.sidebar {
  width: 220px;
  height: 100vh;
  /* background-color: #2c3e50; */
  /* padding: 20px; */
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h2 {
  color: #15e2303e;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  margin: 20px 5px;
  display: block;
  border-radius: 5px;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center; /* Alinea el ícono y el texto en el centro verticalmente */
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 1px solid transparent; /* Línea invisible que aparecerá en hover */
}

.sidebar ul li a:hover {
  color: #34db71;
}
.sidebar ul li:hover {
  color: #34db71;
  background-color: #34db7122;
}

.sidebar ul li a svg {
  margin-right: 30px; /* Espacio entre el ícono y el texto */
  font-size: 20px; /* Ajusta el tamaño del ícono si es necesario */
}