.user-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    /* background-color: red; */
    background-color: rgba(247, 249, 250, 0.815)
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-name {
    font-size: 16px;
    color: black;
  }